* {
  padding: 0px;
  margin: 0px;
  font-family: 'Forum', cursive-serif;
}

.smoothScroll {
  text-decoration: none;
  color: black;

}

.text {
  margin: 240px 20px;
  background-color: white;

}

.subtext {
  text-align : justify;
  width: 1028px;
} 

body {
  font-family: 'Forum', cursive-serif;
  margin: 0;
  font-weight: bold;
  color: black;
}

header#head { 
  width: 100%;       
  padding: 10px 10px;
  background-color: white;
  float: none;
  z-index: 5;
  position: fixed;
  text-align: center;
  -webkit-box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.75);
  top: 0px;
}   

.logotipo {
  display: inline-block;
  margin: auto;
  margin-bottom: 30px;
}

.menu {
  text-decoration: none;
  text-align: center;
  background: white;
  width: 100%;
}

.menu li {
  text-align: center;
  display: inline-block;
}

.menu a{
  color: black;
  text-decoration: none;
  padding: 8px
}

} p

.colecciones {
  text-align: center;
}

.colecciones h2 {
  font-family: 'Forum', sans-serif;
  font-size: 35px;
  text-align: center;
  margin: 24px 0px;
  text-decoration: none;

}

.exclusive {
  width: 100%;
  text-align: center;
  background color: black; 
  margin: 24px 0px;
  font-size: 35px;
}


.ciudades {
  display: inline-block;
  margin-top: 0px;
}

.ciudades img
{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  transition: filter 600ms ease;
  -webkit-transition:-webkit-filter 600ms ease;
}

.footer {
  text-decoration: none;
  text-align: center;
  background: white;
  width: 100%;
}

.footer li {
  text-align: center;
  display: inline-block;
}

.footer a{
  color: black;
  text-decoration: none;
  padding: 8px
}
.footer-tittle {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 27px;
}

.footer-company-name {
  margin-top: 30px;
  margin-bottom: 30px;
}

.info {
  margin-top: 30px;
  margin-bottom: 30px;
}
.ciudades img:hover {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0;

}


